<h2>ngx-charts</h2>

<p>Bar Charts</p>
<ul>
    <li><a [routerLink]="['/BarCharts/verticalBarChart']">Verical Bar Chart</a></li>
    <li><a [routerLink]="['/BarCharts/horizontalBarChart']">Horizontal Bar Chart</a></li>
    <li><a [routerLink]="['/BarCharts/groupedVerticalBarChart']">Grouped Verical Bar Chart</a></li>
    <li><a [routerLink]="['/BarCharts/groupedHorizontalBarChart']">Grouped Horizontal Bar Chart</a></li>
    <li><a [routerLink]="['/BarCharts/stackedVerticalBarChart']">Stacked Verical Bar Chart</a></li>
    <li><a [routerLink]="['/BarCharts/stackedHorizontalBarChart']">Stacked Horizontal Bar Chart</a></li>
    <li><a [routerLink]="['/BarCharts/normalizedVerticalBarChart']">Normalized Verical Bar Chart</a></li>
    <li><a [routerLink]="['/BarCharts/normalizedHorizontalBarChart']">Normalized Horizontal Bar Chart</a></li>
</ul>

<p>Pie Charts</p>
<ul>
    <li></li>
</ul>
<router-outlet></router-outlet>
