<h2>ngx-charts</h2>
<ul>
    <li><a [routerLink]="['/']">Verical Bar Chart</a></li>
    <li><a [routerLink]="['/horizontalBarChart']">Horizontal Bar Chart</a></li>
    <li><a [routerLink]="['/groupedVerticalBarChart']">Grouped Verical Bar Chart</a></li>
    <li><a [routerLink]="['/groupedHorizontalBarChart']">Grouped Horizontal Bar Chart</a></li>
    <li><a [routerLink]="['/stackedVerticalBarChart']">Stacked Verical Bar Chart</a></li>
    <li><a [routerLink]="['/stackedHorizontalBarChart']">Stacked Horizontal Bar Chart</a></li>
    <li><a [routerLink]="['/normalizedVerticalBarChart']">Normalized Verical Bar Chart</a></li>
    <li><a [routerLink]="['/normalizedHorizontalBarChart']">Normalized Horizontal Bar Chart</a></li>
</ul>
<router-outlet></router-outlet>
